<!-- Create the login page -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>

                <form class="form login-form">
                    <div class="mb-3">
                        <label for="email-login">Email:</label>
                        <input class="form-control" type="text" id="email-login" />
                    </div>
                    <div class="mb-3">
                        <label for="password-login">Password: (must be 8 characters)</label>
                        <input class="form-control" type="password" id="password-login" />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Create a Sign in page -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Signup</h5>

                <form class="form signup-form">
                    <div class="mb-3">
                        <label for="name-signup">Name:</label>
                        <input class="form-control" type="text" id="name-signup" />
                    </div>
                    <div class="mb-3">
                        <label for="email-signup">Email:</label>
                        <input class="form-control" type="text" id="email-signup" />
                    </div>
                    <div class="mb-3">
                        <label for="password-signup">Password: (Must be 8 characters)</label>
                        <input class="form-control" type="password" id="password-signup" />
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Connecting to the script -->
<script src="./js/login.js"></script>