<div class="row">
    <div class="col-md-3 mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">The Final Draft Team</h5>
                <table class="table">
                    {{#each players as |player|}}
                        <tr>
                            <td>{{player.name}}</td>
                            <td>{{player.position}}</td>
                            <td>{{player.rating}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            <a href="/players" class="m-2 btn btn-primary">Back to team creation</a>
        </div>
    </div>
</div>

